/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background: #E8E6E5;
    color: #363433;
    font-family: 'Cabin', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
}

section {
    clear: both;
}

header {
    background: #FFF;
    height: 90px;
}

img.logo {
    float: left;
}

header div.title {
    float: left;
    padding-top: 18px;
}

h1 {
    color: #757473;
    font-weight: normal;
    font-size: 31px;
    line-height: 1em;
    margin: 0 0 2px 0;
}

h2 {
    font-size: 18px;
    margin: 0;
}

.credits img.wamu {
    margin: 14px 28px 0 0;
}

.credits img.codefordc {
    margin: 15px 0 0 0;
}

a.pill {
    display: block;
    background: #D4D1D0;
    border-radius: 99px;
}

a.pill:hover, a.box:hover {
    background: #C4C1C0;
}

a.pill.selected, a.box.selected {
    color: #fff;
    background: #636160;
}

header div.credits {
    float: right;
}

header .wrapper, #main {
    max-width: 1200px;
    padding: 0 22px;
    margin: 0 auto;
}

navigation {
    float: left;
    margin-top: 15px;
}

navigation ul {
    padding: 0;
    margin: 0 -4px;
}

navigation ul li {
    display: inline-block;
    margin: 0 4px;
}

navigation a {
    height: 33px;
    line-height: 33px;
    font-size: 17px;
    padding: 0 16px;
}

div.progress-bar {
    border-radius: 99px;
    padding: 2px;
}

div.progress-bar span.horizontal-bar {
    display: block;
    height: 9px;
    background: #E8E6E5;
    border-radius: 99px;
}

#status {
    float: right;
    min-width: 33%;
    text-align: center;
    color: #636160;
    margin-top: 15px;
}

#status div.progress-bar {
    height: 13px;
    background: #7E7C7C;
    margin: 2px 0;
}

div.revealer { margin: 0 -3px; padding: 0 3px; }

#candidates {
    padding: 30px 0;
}

#candidates .table-header {
    padding-left: 55px;
}

#candidates ul {
    padding: 0;
    clear: both;
}

.candidate {
    display: block;
    position: relative;
    height: 44px;
    margin: 6px 0 0 0;
    color: #222;
    background: #fff;
    -moz-box-shadow:    0 1px 3px #636160;
    -webkit-box-shadow: 0 1px 3px #636160;
    box-shadow:         0 1px 3px #636160;
    clear: both;
    overflow: hidden;
}

.candidate .info div, .table-header div {
    float: left;
    padding: 0 11px;
}

.table-header {
    padding-bottom: 8px;
}

.candidate .color {
    width: 11px; height: 44px;
    position: absolute;
    left: 0;
}

.candidate .headshot {
    width: 44px; height: 44px;
    position: absolute;
    left: 11px;
}

.candidate .info {
    padding-left: 55px;
}

.candidate .info div {
    padding-top: 13px;
    font-size: 17px;
    white-space: nowrap;
}

.candidate .info .name, .candidate .info .percentage {
    font-size: 22px;
    padding-top: 8px;
}

.candidate .info .percentage {
    padding-right: 84px;
}

.candidate .info .percentage span.horizontal-bar {
    display: block;
    height: 6px;
    margin-top: 11px;
    margin-right: 6px;
    float: left;
}

.name       { width: 30%; }
.party      { width: 20%; }
.votes      { width: 15%; }
.percentage { width: 35%; }

a.action {
    color: #636160;
    text-transform: uppercase;
}

a.action:hover {
    color: #363433;
}

#candidates a.action {
    float: right;
}

#candidates.initiative .party {
    display: none;
}

#candidates.initiative .table-header .name {
    visibility: hidden;
}

#candidates.initiative a.action {
    display: none;
}

#map-wrapper {
    width: 67%;
    float: left;
    position: relative;
}

#map-wrapper:after {
    padding-top: 100%;
    display: block;
    content: '';
}

#map {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
}

#exhibit div.options {
    width: 33%;
    float: left;
}

.options .panel {
    margin-bottom: 15px;
}

.options h4 {
    color: #636160;
    margin: 0;
    text-transform: uppercase;
    font-weight: normal;
}

.options ul {
    margin: 0;
    padding: 0;
}

.options .filter ul li {
    display: inline-block;
}

.options .view ul li {
    display: block;
    width: 100%;
}

.options .view a.box {
    display: block;
    font-size: 17px;
    width: 100%;
    padding: 3px 8px;
}

.options .filter ul a {
    padding: 0 8px;
    margin: 3px 1px;
}

div.filter-controls {
    padding-bottom: 15px;
}

div.filter-controls input[type="range"] {
    width: 100%;
}

div.filter-controls .slider {
    margin: -4px 0 5px 0;
    padding-left: 80px;
    position: relative;
    height: 19px;
}

div.filter-controls .label {
    font-weight: bold;
    position: absolute;
    top: -2px; left: 0;
}

div.filter-controls .label[data-units="percent"]:after {
    content: "%";
}

div.filter-controls .label[data-units="dollars"]:before {
    content: "$";
}

span.divider { color: #D4D1D0; }

@media screen and (max-width: 767px) {
    header .wrapper, #main {
        padding: 0 15px;
    }

    .candidate .info .percentage span.horizontal-bar {
        display: none;
    }

    .candidate .info .percentage {
        padding-top: 13px;
        font-size: 17px;
    }

    .name       { width: 35%; }
    .party      { width: 30%; }
    .votes      { width: 15%; }
    .percentage { width: 15%; }
}

@media screen and (max-width: 639px) {
    header div.credits { display: none; }

    .name       { width: 50%; }
    .party      { display: none; }
    .votes      { width: 25%; }
    .percentage { width: 25%; }

    #map-wrapper { width: 100%; }
    #exhibit div.options { width: 100%; }
}

@media screen and (max-width: 479px) {
    header .wrapper, #main {
        padding: 0 11px;
    }

    header { height: 80px; }

    h1 { font-size: 18px; }

    navigation { width: 100%; text-align: center; }
    #status { width: 100%;}

    .candidate .headshot { display: none; }
    #candidates .table-header { padding-left: 11px; }
    .candidate .info { padding-left: 11px; }
    .name       { width: 65%; }
    .votes      { display: none; }
    .percentage { width: 35%;}
}

.leaflet-container {
    background: none;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
